# Django
*.pyc
__pycache__/
*.log

# Media and static files
/media/
/staticfiles/
/static/
cni/
hypotheques/
location_plan/
plans/
titres/

# Environment
.env
*.env
venv/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations
#*/migrations/*.pyc
#*/migrations/__pycache__/
#*/migrations/*.sqlite3

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/
